:root {
  --p1: #ff85c6;
  --p2: #c06495;
  --p3: #804363;
  --s1: #c6ff85;
  --s2: #84aa59;
  --s3: #42542c;
  --n1: #ffe8f4;
  --n2: #dac6d1;
  --n3: #8f8389;
  --n4: #4d484b;
  --n5: #392f37;
  --n6: #272024;
  --n7: #130e11;
}
