@import url("colorPallete.css");
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  direction: rtl;
  background-image: url("../images/bg.svg");
}

.right-side {
  margin: 0 0 0 70%;
  box-shadow: 20px 20px 50px 10px rgba(51, 49, 49, 0.3);
  padding: 10px;
  vertical-align: middle;
}

.right-side.ticket {
  margin: 0 0 0 50%;
  box-shadow: 20px 20px 50px 10px rgba(51, 49, 49, 0.3);
  padding: 10px;
  vertical-align: middle;
}

.number {
  color: rgb(145, 145, 145);
}
.error {
  color: var(--p1);
  font-size: 0.8em;
}
.inline {
  display: inline;
}
.link:hover {
  color: #4e4eff;
  cursor: pointer;
}
span {
  color: var(--p1);
}
