@import url("component/formComponent.css");
@import url("main.css");
@import url("them.css");
@import url("component/component.css");
@import url("table.css");
@import url("layout/layout.css");
@import url("./colorPallete.css");

#like {
  font-size: 30px;
  color: red;
}
.like {
  text-align: left;
}
img {
  max-width: 100%;
}
