.btn-primary {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn-primary {
  background-color: var(--p1);
  color: var(--n6);
  padding: 10px;
  border-radius: 17px;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: var(--p3);
  color: var(--n1);
  transition: 0.3s;
}
.btn-secondary {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn-secondary {
  background-color: var(--n1);
  color: var(--n5);
  font-family: "Dubai";
  padding: 10px;
  border-radius: 17px;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: var(--p1);
  transition: 0.3s;
}
.btn-like {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn-like {
  color: var(--n1);
  font-size: 35px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}
.btn-like:hover {
  color: var(--p1);
  transition: 0.3s;
}
