textarea{
    height: 50%;
    width: 65%;
}
input:not( [type="submit"], [type="checkbox"], [type="radio"]),textarea{
   width:      50%;
}

#description{
    height: 20em;
    width: 30em;
}
#password, #phoneNumber{
    width: 40%;
}
#phoneNumber{
    margin-left: 13em;
}